<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.reset.title}">JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#1e1e2d" style="padding: 40px 0 30px 0;">
            <h2 style="color: white">CRONDATA</h2>
            <!--            <img src="cid:logo" alt="CronData" style="display: block;"/>-->
        </td>
    </tr>
    <tr>
        <td bgcolor="" style="padding: 40px 30px 40px 30px;">
            <p th:text="#{email.reset.greeting(${user.login})}">
                Dear
            </p>
            <p>
                For your account a password reset was requested, please click on the URL below to reset it:
            </p>
            <p>
                <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
                   th:text="${url}">Login link</a>
            </p>
            <p>
                <span th:text="#{email.reset.text2}">Regards, </span>
                <br/>
                <em th:text="#{email.signature}">JHipster.</em>
            </p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#1e1e2d" style="padding: 30px 30px 30px 30px;">
        </td>
    </tr>
</table>
</body>
</html>
